* {
    margin: 0;
    padding: 0;
}

header {
   text-align: center;
}

h1 {
    color: rgb(128,145);
    background-color: #757575;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    text-decoration: overline;
}

h1:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.containerTam {
    margin: 0 auto;
    background-color: rebeccapurple;
    height: 5;
    width: 120px;
}

.containerTam {
    justify-content: center;
    display: flex;
    padding-left: 5px;
    margin-top: 5px;
}

.tam {
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 11px;
}

.faltando {
    text-decoration: line-through;
    font-weight: bold;
    font-style: italic;
    border: 2px solid red;
}

main {
    background-color: orangered;
    height: 160px;
}

.containerMain {
    background-color: goldenrod;
    width: 90%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    margin: 30px 10px 30px 75px;
    margin-bottom: 22px;
}

.containerMain__conteudo {
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #757575;
    color: white;
    padding: 5px;
    padding: 15px;
    border-bottom: dotted 5px rgb(244, 244, 150);
}

.link {
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #e4e4e4;
    color: #383838;
    border-radius: 15px;
    margin-left: 77px;
}

.link:hover {
    border-radius: 25px;
}

.fla {
    margin: 15px auto;
    text-align: center;
    background-color: red;
    width: 111px;
    padding: 15px;
    margin-top: 22px;
    color: white;
}