header {
    text-align: center;
    background-color: #afddfb;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img_topo {
    width: 150px;
}

nav {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

nav a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: solid #1d1d1d;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

/* nav a:hover {
    background-color: #d1d1d1;
} */